body {
    background: url(img/nic-cage-background4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
   -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#searchbar {
    width: 30%;
    height: 20px;
}

#roast-selection {
    color: grey;
}

form {
    text-align:center;
    margin-top: 5%;
}




