@media all and (max-width: 768px) {


    .alert-info {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        background-color: #ccffff;
        font-size: larger;
        margin: 1em 1em;
        padding: 1em;
    }


    .nav-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 1em;
        padding: 0;


    }

    li {
        padding: 1em;
        margin: .4em;
        background-color: #cccccc;
    }

    a {
        display: flex;
        justify-content: center;
    }

    img {
        width: 100%;
    }

}

@media all and (min-width: 769px) {
    body {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas:    "company nav-links"
        "header-img header-img"
        "main sub-section"
        "footer footer";
    }

    .hidden-on-desktop {
        display: none;
    }

    .nav-links {
        list-style: none;
        display: flex;
        padding: 1em;
        justify-content: end;
    }

    li {
        padding: 1em;
    }

    footer {
        margin-top: 20em;
    }

    .header-img {
        grid-area: header-img;

    }

    img {
        width: 100%;
    }

    .main {
        display: grid;
        grid-area: main;
        padding: 1em;
    }

    .sub-section {
        padding: 1em;
    }


}