* {
    box-sizing: border-box;

}
body {
    margin: 0;
    text-align: center;
}
main {
    /* add margin to make the top of our grid more visible */

    margin-top: 2em;
    background: lightgreen;
    display: inline-grid;
    height: 500px;
    width: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
main div {
    font-size: 2em;
    color: white;
    background: grey;
    border: 1px solid black; /* thin out border to 1px */
    display: flex;
    justify-content: center;
    align-items: center;
}
.example-item{
    background: lightgreen;
    opacity: .7;
}
/*
   These classes are just a way to explicitly place the grey tiles
    so that other items may be overlaid.
*/
.one {
    grid-area: 1 / 1 / 3 / 3;
    background-color: #2f447b;
}
.two {
    grid-area: 1 / 3 / 4 / 9;
    background-color: #d81920;

}

.three {
    grid-area: 6 / 9 / 8 / 5;

}
.four {
    grid-area: 7 / 1 / 3 / 3;
    background-color: #fbcc0b;
}

.five {
    grid-area: 8 / 1 / 6 / 3;

}

.six {
    grid-area: 8 / 3 / 4 / 5;

}

.seven {
    grid-area: 8 / 1 / 8 / 3;

}

.eight {grid-area: 6 / 5 / 4 / 9;

}

.nine {
    grid-area: 8 / 3 / 8 / 9;
    background-color: #2f447b;
}