h1 {
    color: red;


}

#fieldset {
    background-color: #60a57a;
    margin-left: 50%;
    margin-top: 80px;
    padding: 1em;
}

#fieldset2 {
    margin-right: 50%;
    margin-top: 80px;
    margin-bottom: 30px;
}

ol li {
    margin: 20px;
    padding: 20px;
}

fieldset {
    background-color: #878dcd;
    margin: 50px 50px 0 50px;
    font-size: larger;
    border: 2px solid black;
    border-radius: 5px;

}

body, html {
    background-color: #0fb784;
    background-image: url("img/colorful3.png");
    background-blend-mode: color-burn;
    font-family: "Fjalla one", cursive;
    margin: 2px;

}

.form-group {
    width: 100%;
    margin: .5em 0;
}

.form-label {
    font-weight: bolder;
    font-size: larger;
}

.input {
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: .5em;
    margin-bottom: .5em;
    width: calc(100% - 4px)
}

.input2 {
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: .5em;
    margin-bottom: .5em;
    width: 15%;
}

.button-block {
    width: 100%;
}

.btn {
    padding: 8px;
    font-size: large;
    font-weight: bold;
    border: 1px lightblue;
    background-color: cadetblue;
}

.h:hover {
    color: white;

}
