h1 {
    color: red;


}

#fieldset {
    background-color: #60a57a;
    margin-left: 50%;
    margin-top: 80px;
    padding: 1em;
}

ol li {
    margin: 20px;
    padding: 20px;
}

fieldset {
    background-color: #878dcd;
    margin: 50px 50px 0 50px;
    font-size: larger;
    border: 2px solid black;
    border-radius: 5px;

}

body, html {
    background-color: #0fb784;
    background-image: url("img/colorful3.png");
    background-blend-mode: color-burn;
    font-family: "Fjalla one", cursive;

}
